sharkpylib/
ctdpy/
ctdvis/
pre_system_svea/
ctd_processing/
svepa/
algaware/
svea/
stations/

venv/
venv38/
.env
.vscode/
run_bokeh_server.py

.idea
.ipynb_checkpoints
.spyproject
.project
.pydevproject

**/__pycache__/* 

*.pyc
*.log
*.prefs
*.pkl
*.ipynb

log/*
temp/* 
exports/*
plugins/*/
!plugins/blueprint

system/settings.pkl

users/* 
!users/default

sharkpylib/*
